.aimeos-overlay {
      background-color: #000 !important;
      z-index: 1040 !important;
}

.aimeos-container {
      z-index: 1050 !important;
}

.aimeos.basket-standard h3 {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: $light;
      letter-spacing: 6.1px;
      text-transform: uppercase;
      margin-bottom: 4rem !important;
}
