.checkout-standard {
    .steps {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        &:before {
            content: '';
            height: 1px;
            position: absolute;
            top: 22px;
            left: 30px;
            right: 30px;
            z-index: -1;
            border-top: 1px dotted rgba($dark, 30%);
        }
        .step {
            display: block !important;
            width: auto !important;
            border-bottom: 0 !important;
            color: $dark !important;
            font-weight: 400;
            a {
                color: $dark !important;
            }
        }

        .step:before {
            display: block;
            width: 50px;
            background: white !important;
            outline: 5px solid white;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            border: 2px solid $dark;
            border-radius: 50%;
            margin-bottom: 0.5rem;
            content: '';
            counter-increment: none;
            font: normal normal normal 1.3rem/47px 'LineIconsPro Regular';
            //speak: none;
            text-transform: none;
            /* Better Font Rendering */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .step.active:before {
            color: $green !important;
            border-color: $green;
        }
        .step.current:before {
            background: $dark !important;
            color: white !important;
            border-color: $dark;
        }
        .current {
            background-color: transparent !important;
        }
        .process {
            display: none !important;
        }
    }

    //ICONS

    .basket:before {
        content: $lnir-cart-alt !important;
    }
    .address:before {
        content: $lnir-home !important;
    }
    .delivery:before {
        content: $lnir-skipping-rope !important;
    }
    .payment:before {
        content: $lnir-wallet-alt-1 !important;
    }
    .payment:before {
        content: $lnir-wallet-alt-1 !important;
    }
    .summary:before {
        content: $lnir-list-alt-1 !important;
    }

    .checketiy {
        &:last-child {
            display: none;
        }
        &:before {
            display: block;
            background: white;
            width: 50px;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            border-radius: 50%;
            margin-bottom: 0.5rem;
            content: $lnir-checkmark-circle !important;
            counter-increment: none;
            font: normal normal normal 1.3rem/47px 'LineIconsPro Regular';
            //speak: none;
            text-transform: none;
            /* Better Font Rendering */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .checketiy.check-grey:before {
        color: rgba($dark, 30%);
    }
    .checketiy.check-green:before {
        color: $green;
    }
}

.form-billing,
.form-shipping {
    .company {
        display: flex !important;
    }
    .form-list {
        margin: 0 !important;
    }
    .countryid {
        display: none !important;
    }
    .custom-field {
        display: block;
    }
    .custom-field.mandatory,
    .custom-field.optional {
        display: block !important;
    }
    .custom-label {
        font-weight: 400;
    }
    .header {
        background-color: white !important;
        padding: 1rem !important;
        border: 1px solid $light;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
}

.personal,
.adresso,
.checkout-standard-address-delivery,
.note {
    margin-top: 2rem;
}
.note {
    font-size: 14px;
}

.checkout-standard-address-billing,
.checkout-standard-address-delivery {
    padding: 0 !important;
    h4,
    .item-address {
        padding: 0 !important;
    }
}

.small-summary {
    .product {
        margin: 30px 0;
        display: block;
    }
    .price-summary-small {
        background: $light;
        padding: 1rem;
        margin-top: 1rem;
        * {
            color: $dark;
        }
        .quantity {
            font-weight: 700;
            font-size: 18px;
            color: $dark;
        }
    }
    .image.details {
        display: flex;
        img {
            max-width: 100px;
            height: auto;
            margin-right: 10px;
        }
        .quantity,
        .price {
            font-size: 14px;
        }
    }
    .attr-list {
        margin: 0 !important;
        li {
            margin-bottom: 0 !important;
            font-size: 14px;
            .name {
                font-weight: 700;
            }
        }
    }
    .product-name {
        color: $dark !important;
        font-weight: 700;
        font-size: 18px;
        margin-top: 0 !important;
    }
}
.item-service {
    margin: 0 !important;
}
.custom-delivery {
    padding: 2rem;
    .description {
        margin: 0 !important;
        padding: 0 !important;
        min-width: auto !important;
        max-width: none !important;
        p {
            font-size: 16px !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        .short {
            font-weight: 700 !important;
        }
    }
    .price-value {
        margin: 0 !important;
        float: none !important;
    }
    .option {
        margin: 0 !important;
    }
    .service-topline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}

.custom-payment {
    .item {
        padding: 2rem;
        .custom-payment-top,
        .custom-payment-sub {
            padding: 0;
        }
    }
    .description {
        margin: 0 !important;
        padding: 0 !important;
        min-width: auto !important;
        max-width: none !important;
        p {
            font-size: 16px !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        .short {
            font-weight: 700 !important;
        }
    }
    .option {
        margin: 0 !important;
    }
    .service-topline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .custom-payment-item {
        margin-bottom: 20px !important;
    }
    .payment-topline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}

.checkout-standard-summary {
    .header,
    h4 {
        margin: 0 !important;
        padding: 0 !important;
        border-bottom: none !important;
    }
    .modify {
        color: $dark !important;
        &:hover {
            color: $primary;
        }
        &:before {
            content: $lnir-pencil-alt !important;
            color: $primary;
            display: inline-block;
            font: normal normal normal 1em/1 'LineIconsPro Regular';
            //speak: none;
            text-transform: none;
            /* Better Font Rendering */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .item {
        margin-bottom: 20px;
        .item {
            margin-bottom: 0 !important;
        }
        .header {
            margin-bottom: 0.5rem !important;
        }
        .content {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}
.checkout-standard-summary .item:before {
    display: none;
    content: '';
}

#c13
    > div
    > div
    > section
    > div
    > div.col-md-8
    > form
    > section
    > div.common-summary-service.row
    > div.item.payment.\31
    .col-sm-6
    > div.content
    > div
    > h4,
#c13
    > div
    > div
    > section
    > div
    > div.col-md-8
    > form
    > section
    > div.common-summary-service.row
    > div.item.delivery.\31
    .col-sm-6
    > div.content
    > div
    > h4 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.checkout-standard-summary-option-account {
    margin-bottom: 20px;
}

.checkout-standard-summary-option-terms {
    a {
        color: $primary !important;
    }
}

.checkout-confirm {
    .header {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .attr-list,
    .content {
        margin: 0 !important;
        padding: 0 !important;
    }
    .checkout-confirm-detail {
        .common-summary-service .delivery,
        .common-summary-service .payment {
            .item {
                padding: 0 !important;
            }
            h4 {
                font-size: 16px !important;
                font-weight: 400 !important;
                letter-spacing: 0 !important;
                margin: 0 !important;
            }
        }
    }
    .item {
        padding: 15px 20px;
    }
    .checkout-confirm-basic {
        background: $light;
        padding: 2rem;
        margin-top: 0 !important;
        h4 {
            margin-bottom: 2rem;
        }
    }
    .checkout-confirm-intro p {
        font-size: 22px;
        font-style: italic;
        @include lightfont;
    }
    .confirm-soacial-row {
        display: flex;
        margin-bottom: 2rem;
        div {
            width: 50%;
        }
    }
    .social-image {
        text-align: center;
        line-height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background: $primary;
        p {
            margin: 0 !important;
            display: block;
            color: white;
        }
    }
}
.aimeos .form-control {
    border: 1px solid $border-color !important;
}

.aimeos select.form-control {
    height: 52px;
}
