.list-items {
      position: relative;
      .catalog-actions {
            display: none;
            @include fast-transition;
            position: absolute;
            left: 20px;
            top: -40px;
            background: none;
            z-index: 999;
            .actions-button-favorite,
            .actions-button-favorite-loggedin {
                  width: 35px;
                  height: 35px;
                  border-radius: 50%;
                  border: 1.5px solid $dark;
                  background: white;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &:hover {
                        background: $dark;
                  }
                  .heart-label {
                        display: none;
                  }
                  &:before {
                        color: $primary;
                        text-align: center;
                        vertical-align: middle;
                        content: $lnir-heart !important;
                        display: inline-block;
                        font: normal normal normal 1em/1 'LineIconsPro Regular';
                        //speak: none;
                        text-transform: none;
                        /* Better Font Rendering */
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 20px !important;
                  }
            }
      }
      .product {
            border: 1px solid #e4e4e4;
            border-radius: 3px;
            background: white;
            cursor: pointer;
            @include fast-transition;
            &:hover {
                  .catalog-actions {
                        top: 20px;
                        left: 20px;
                  }
                  background: $light;
                  transform: scale(1.02);
                  @include mainshadow;
                  z-index: 2;
            }
            width: calc(33% - 20px) !important;
            display: block !important;
            margin: 10px !important;
            font-size: 100% !important;
            z-index: 1;
            .text-list {
                  padding: 2rem 2rem 1rem 2rem !important;
                  margin: 0 !important;
                  .text-item {
                        font-size: 16px !important;
                        line-height: 1.3 !important;
                        height: auto !important;
                        @include lightfont;
                  }
            }
            .offer {
                  padding: 0 2rem 2rem 2rem !important;
            }
            .taxrate-custom {
                  font-size: 13px !important;
                  opacity: 0.5;
                  display:none;
            }
            .stock-list {
                  display: none !important;
            }
            h4{
                  font-weight:700;
                  font-size:2rem;
            }
      }
      .media-list-custom,
      .media-item-custom {
            background: white;
            height: auto !important;
            width: 100% !important;
            img {
                  transform: translate(0, 0) !important;
                  top: 0 !important;
                  left: 0 !important;
                  max-width: 100%;
            }
      }
      .media-list-custom {
            position: relative;
      }

      .media-item-custom:nth-of-type(n + 2) {
            position: absolute;
            top: 0px;
            right: 40px;
            opacity: 0;
            @include fast-transition;
      }

      .rating {
            background-color: transparent !important;
            margin: 0 !important;
      }
      .price .value {
            font-size: 19px;
            color:$primary;
      }
}

.catalog-detail-suggest {
      .product {
            overflow: hidden;
      }
}

.account-watch .media-item,
.account-favorite .media-item,
.basket-related-bought .media-item,
.catalog-detail-bought .media-item,
.catalog-detail-bundle .media-item,
.catalog-detail-suggest .media-item,
.catalog-session-seen .media-item,
.catalog-session-pinned .media-item {
      width: 100% !important;
      img {
            width: auto !important;
            max-height: 100%;
      }
}

//IMAGESWAP on HOVER

.product:hover {
      .media-item-custom:nth-of-type(n + 2) {
            top: 0;
            right: 0;
            opacity: 1;
      }
}


.product-more{
      display:block;
      background:$dark;
      color:white;
      font-size: 18px;
      font-weight:700;
      padding:10px 0;
}
.product:hover{
      .product-more{

            background:$primary;
            color:white;

      }
}