.catalog-list-items {
  .catalog-list-head {
    padding: 0;
  }
  .list-items {
    display: flex !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
    flex-wrap: wrap;
  }
}

#p1 {
  .catalog-list-type,
  .pagination,
  .catalog-list-footer {
    display: none !important;
  }
}

.aimeos .sort {
  color: $dark;
  span {
    font-weight: 700;
  }
  ul li a {
    opacity: 0.5;
    position: relative;
    &.active {
      font-weight: 400 !important;
    }
    &:after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $primary;
      position: absolute;
      left: 50%;
      bottom: 5px;
      opacity: 0;
      @include medium-transition;
    }
    &:hover,
    &.active {
      opacity: 1;
      text-decoration: none;
      color: $dark !important;
      &:after {
        bottom: -2px;
        opacity: 1;
      }
    }
  }
}
