.toplinks,
.nav-wrapper,
.logo-wrapper {
      display: flex;
      align-items: center;
}
.topbar-user,
.topbar-enter {
      margin-right: 2rem !important;
      a {
            color: $dark !important;
            &:hover {
                  color: $primary !important;
                  text-decoration: none !important;
            }
      }
      .lnir {
            margin-right: 10px;
      }
}

.greeting {
      display: block;
      font-weight: 700;
}

.topbar-user {
      display: flex;
      align-items: center;

      .greetingWrap {
            span,
            a {
                  line-height: 1.2;
            }
      }
}
.topbar-enter {
      display: flex;
      align-items: center;
}

.basket-toggle {
      display: none !important;
}
.basket-mini{
      position:relative;
      margin-right:.5rem;
}
.basket-mini-main .quantity{
      background:$primary;
      border-radius:50%;
      color:white;
      position:absolute;
      height:24px;
      width:24px;
      line-height:24px;
      text-align:center;
      top:-9px;
      right:-9px;
}
.basket-mini-main .quantity:after,
.basket-mini-main .quantity:before {
      display: none;
}
.toplinks .basket-mini > a {
      padding: 0;
}
.toplinks .basket-mini > a:before {
      content: $lnir-cart-alt !important;
      display: inline-block;
      font: normal normal normal 2em/1 'LineIconsPro Regular';
      //speak: none;
      text-transform: none;
      /* Better Font Rendering */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.aimeos .addbasket input {
      width: 6rem !important;
}

.aimeos .input-group .btn {
      width: calc(100% - 6em) !important;
      font-family: 'Catamaran', sans-serif !important;
      font-weight: 700;
      font-style: normal;
      font-size: 1rem;
}

.clicino-logo {
      padding-top: 15px;
      padding-bottom: 15px;
      height:100% !important;
      box-sizing: border-box;
      width:auto;
      svg {
            width: auto;
            height: 55px;
      }
}
