<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="flex">
		<ul class="base-menu">
			<li><a href="/" title="Home">Home</a></li>
			<li><a href="/agb" title="Impressum">AGB</a></li>
			<li><a href="/impressum" title="Impressum">Impressum</a></li>
			<li><a href="/datenschutz" title="Datenschutz">Datenschutz</a></li>
			<li><a href="/sitemap" title="Sitemap">Sitemap</a></li>
		</ul>
		<a class="stagedive-link" href="https://www.stagedive.media" target="_blank" title="Mit Liebe und Sorgfalt gestaltet und umgesetzt von stagedive.media">
			<f:image src="EXT:girard/Resources/Public/Images/logo-creator.svg" />
		</a>
	</div>	
</html>
