@mixin fast-transition {
      transition: all 0.2s ease-in-out;
}
@mixin slow-transition {
      transition: all 0.6s ease-in-out;
}
@mixin medium-transition {
      transition: all 0.4s ease-in-out;
}

@mixin basefont {
      font-family: 'Catamaran', sans-serif !important;
      font-weight: 400;
      font-style: normal;
}
@mixin lightfont {
      font-family: 'Catamaran', sans-serif !important;
      font-weight: 300;
      font-style: normal;
}
@mixin boldfont {
      font-family: 'Catamaran', sans-serif !important;
      font-weight: 700;
      font-style: normal;
}
@mixin extraboldfont {
      font-family: 'Catamaran', sans-serif !important;
      font-weight: 800;
      font-style: normal;
}
@mixin handwriting {
      font-family: adobe-handwriting-ernie, sans-serif;
      font-weight: 400;
      font-style: normal;
}

@mixin mainshadow {
      box-shadow: 0px 10px 25px -11px #9a9a9a;
}

@mixin imagezoom-hover {
      .image {
            @include medium-transition;
      }
      &:hover {
            .image {
                  transform: scale(1.1);
            }
      }
}
