//
// Variables
//

//$grid-float-breakpoint:        1200px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
) !default;




$frame-inner-spacing:               3rem !default;
$border-color:                      #eaebec !default;

@mixin shadow{
	box-shadow: 0px 20px 40px -12px rgba(51, 51, 51, 0.2);
}


@mixin absolute-stretch{
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
}


//Clicino Shop Variables

$green: #60b774;

$topbar-height: 222px;
$topbar-height-collapsed: 120px;

//
// Variables
//
$container-width: 1260px;
$outer-padding: 50px;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1320px,
  xxl: 1620px,
) !default;
