//
// Variables
//
@import "variables";
@import "Lineicons/lineicons";
@import "news";
@import "mixins";

//
// Import needed Bootstrap Package Files
//
@import "../../../../../bootstrap_package/Resources/Public/Scss/Theme/theme";

/* catamaran-regular - latin */
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: url("../../../Public/Fonts/catamaran-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Catamaran Regular"), local("Catamaran-Regular"),
    url("../../../Public/Fonts/catamaran-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../../Public/Fonts/catamaran-v6-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../../Public/Fonts/catamaran-v6-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../../Public/Fonts/catamaran-v6-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../../Public/Fonts/catamaran-v6-latin-regular.svg#Catamaran")
      format("svg"); /* Legacy iOS */
}

/* catamaran-700 - latin */
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  src: url("../../../Public/Fonts/catamaran-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Catamaran Bold"), local("Catamaran-Bold"),
    url("../../../Public/Fonts/catamaran-v6-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../../Public/Fonts/catamaran-v6-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../../Public/Fonts/catamaran-v6-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("../../../Public/Fonts/catamaran-v6-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../../../Public/Fonts/catamaran-v6-latin-700.svg#Catamaran")
      format("svg"); /* Legacy iOS */
}

/* playfair-display-italic - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: url("../../../Public/Fonts/playfair-display-v15-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"),
    url("../../../Public/Fonts/playfair-display-v15-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../../Public/Fonts/playfair-display-v15-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../../Public/Fonts/playfair-display-v15-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../../Public/Fonts/playfair-display-v15-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../../Public/Fonts/playfair-display-v15-latin-italic.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}
html {
  scroll-behavior: smooth;
}
body,
html {
  font-family: "Catamaran";
  overflow-x: hidden;
}

li {
  margin-bottom: 0.7rem;
}

#p1 {
  .carousel-backgroundimage {
    background-size: cover;
    background-position: center;
  }
  .carousel .item {
    @include media-breakpoint-down(md) {
      height: auto !important;
      .carousel-backgroundimage-container {
        height: 50vh;
      }
    }
    height: 80vh;
    h2 {
      font-weight: 700;
      font-size: 2.7rem;
    }
    h1 {
      font-size: 1.5rem;
      line-height: 1.25;
    }
  }

  .carousel-item-type-text .carousel-text-inner {
    margin-left: 0 !important;
    width: 47%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .carousel-content {
    @include media-breakpoint-down(md) {
      margin-top: 50vh;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

#p94 {
  .carousel-backgroundimage {
    background-size: cover;
  }
  .carousel .item {
    height: 50vh;
    h2 {
      font-weight: 700;
      font-size: 2.7rem;
    }
  }
  .carousel-item-type-text .carousel-text-inner {
    margin-left: 0 !important;
    width: 50%;
  }
}

.gridelement {
  @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
    @include media-breakpoint-up($breakpoint) {
      $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
      padding-top: ($frame-inner-spacing * $scaling);
      padding-bottom: ($frame-inner-spacing * $scaling);
    }
  }
  .frame-container {
    @extend .textpic-centered;
    padding-left: 0 !important;
    padding-right: 0 !important;
    align-items: flex-start !important;
  }
  .frame {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

h1 {
  font-weight: 700;
  //text-transform: uppercase;
  color: $primary !important;
  font-size: 1.3rem;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1:not(#p1) {
  font-size: 2rem;
}

.navbar-nav {
  .nav-link {
    &:after {
      margin-left: 0.5rem;
    }
  }
  .nav-link-icon {
    @include media-breakpoint-down(md) {
      margin-right: 1rem;
    }
    margin-bottom: 0.5rem;
    svg {
      margin: 0 auto;
      @include media-breakpoint-up(lg) {
        width: 3rem;
      }
      path {
        fill: $primary;
      }
    }
  }
  .nav-link-icon,
  .nav-link-text {
    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(lg) {
      display: block !important;
      text-align: center;
      margin-left: 0 !important;
    }
  }
  .nav-link {
    @include media-breakpoint-down(lg) {
      &:before {
        content: "";
      }
    }
    display: block;
    font-weight: 700;
  }
  .nav-item {
    margin-bottom: 0;
    @include media-breakpoint-up(xxl) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    @include media-breakpoint-down(md) {
      border-bottom: 1px solid $border-color;

      padding: 0.6rem 0;
    }
  }
  .nav-link-text {
    margin-right: 0 !important;
    @include media-breakpoint-down(md) {
      margin-left: 0 !important;
    }
    color: $dark;
    opacity: 1;
  }
}
.navbar-mainnavigation .navbar-nav > li.show > .nav-link:before,
.navbar-mainnavigation .navbar-nav > li.active > .nav-link:before,
.navbar-mainnavigation .navbar-nav > li > .nav-link:focus:before,
.navbar-mainnavigation .navbar-nav > li > .nav-link:hover:before,
.navbar-mainnavigation .navbar-nav > li:hover > .nav-link:before {
  display: none;
}

.navbar-mainnavigation .navbar-nav > li > .nav-link:focus,
.navbar-mainnavigation .navbar-nav > li > .nav-link:hover,
.navbar-mainnavigation .navbar-nav > li:hover > .nav-link {
  color: $primary;
}

.navbar-mainnavigation > .navbar-nav .nav-link {
  @include media-breakpoint-down(xl) {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

.dropdown-menu.show {
  min-width: 290px;
  @include media-breakpoint-up(lg) {
    border-left: 1px solid $border-color !important;
    @include shadow;
  }
  @include media-breakpoint-down(md) {
    border-left: none !important;
    margin-left: 1.2rem;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: $primary;
    text-decoration: none;
    background-color: transparent !important;
  }
}

#mainnavigation {
  @include media-breakpoint-down(md) {
    background: $light;
    @include shadow;
  }
}

#page-content .section-column {
  @include media-breakpoint-down(lg) {
    width: 100% !important;
  }
  .frame-inner {
    @include shadow;
    background: $light;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding-bottom: 30px;
    .frame-header,
    p {
      padding-left: 30px;
      padding-right: 30px;
    }
    h2 {
      margin-top: 1rem;
    }
  }
}

#p1 #page-content {
  .section-column:nth-of-type(1) {
    .frame-inner {
      border-top: 8px solid #cc0033;
    }
  }
  .section-column:nth-of-type(2) {
    .frame-inner {
      border-top: 8px solid #4db056;
    }
    .btn {
      background: #4db056 !important;
      border-color: #4db056 !important;
    }
  }
  .section-column:nth-of-type(3) {
    .frame-inner {
      border-top: 8px solid #3773ac;
    }
    .btn {
      background: #3773ac !important;
      border-color: #3773ac !important;
    }
  }
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
}

#c186 {
  padding-bottom: 0 !important;
}

.carousel-content blockquote {
  p:first-child {
    font-size: 1.3rem;
  }
}
blockquote {
  border-left: 0;
  padding: 0rem 2.5rem 1.25rem 0rem;
  @include media-breakpoint-down(sm) {
    padding: 0rem 1.5rem 1.25rem 0rem;
    p {
      font-size: 1.5rem !important;
    }
  }
  p:first-child {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 2rem;

    color: #9b9b9b;
    &:after {
      content: "";
      height: 3px;
      background: $primary;
      width: 6rem;
      display: block;
      margin: 0.5rem 0 1rem 0;
    }
  }
  p:last-child strong small {
    font-weight: 700 !important;
  }
  footer {
    &:before {
      content: "";
    }
    font-weight: 700;
    color: $dark;
    font-size: 14px;
  }
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 0.8rem 1.25rem;
  border-radius: 2px;
  &:not(.btn-info) {
    &:after {
      content: url("../../../Public/Icons/fa/right-light.svg");
      margin-left: 1rem;
      @include media-breakpoint-down(md) {
        margin-left: 0.2rem;
      }
    }
  }
}

.btn-info {
  border-color: $primary;
  background: $primary;
  color: white;
  svg {
    margin-left: 1rem;
    path {
      fill: white;
    }
  }
  &:hover {
    border-color: darken($primary, 10%);
    background-color: darken($primary, 10%);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 38, 82, 0.5);
  }
}

#c190 {
  h3 {
    color: $primary;
  }
  .frame-backgroundimage {
    background-position: left;
  }
  @include media-breakpoint-up(md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  @include media-breakpoint-down(lg) {
    .frame-backgroundimage-container {
      position: relative;
      min-height: 80vh;
    }
  }
  .frame-container .frame-inner {
    background: white;
    padding: 2rem;
    border-radius: 3px;
    @include media-breakpoint-up(lg) {
      max-width: 33vw;
      margin-right: 0 !important;
      margin-left: auto;
    }
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
    @include media-breakpoint-down(lg) {
      margin-top: -15vh;
    }
    @include shadow;
    img {
      max-width: 200px;
      margin-left: 0;
    }
  }
}
#p1,
#p77,
#p64 {
  .card-teaser {
    margin-bottom: 1.5rem;
  }
  .card {
    border-radius: 2px;
    box-shadow: 0px 20px 40px -12px rgba(51, 51, 51, 0.2);
  }
  .card-wrapper {
    position: relative;
    .card-body {
      position: absolute;
      bottom: 0;
      * {
        color: white;
      }
    }
    h4 {
      font-size: 1rem !important;
      margin-bottom: 0 !important;
    }
    h3 {
      font-weight: 700;
    }
    .card-img-top {
      &:before {
        content: "";
        position: absolute;
        top: 30%;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.93;
        background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          #000000 100%
        );
      }
    }
  }
}

hr {
  position: relative;
}
hr:before {
  content: url("../../../Public/Icons/fa/paw.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 auto;
  background: white;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

hr:after {
  content: url("");
  width: 80px;
  height: 40px;
  position: absolute;
  margin: 0 auto;
  background: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-section-content {
  background: transparent;
  h2,
  p {
    color: $dark;
  }
}

.sociallinks-list {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  margin-bottom: 0;
  line-height: 1;
  a {
    color: $dark;
    &:hover {
      color: $primary;
    }
  }
}

.flex {
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    .base-menu {
      display: block;
      border-right: none;
      padding-right: 0px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.frame.footer-meta {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.scroll-top {
  display: none;
}

.footer-section-content {
  .footer-section-content-column {
    @include media-breakpoint-down(md) {
      width: 100% !important;
    }
  }
  position: relative;
  &:before {
    @include absolute-stretch;
    content: "";
    background: url("../../../Public/Images/contact-dog.jpg") no-repeat bottom;
    background-size: contain;
    @include media-breakpoint-down(md) {
      background: $dark;
    }
    background-attachment: fixed;
  }
  .frame-inner {
    background: rgba(255, 255, 255, 0.9);
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include shadow;
    border-radius: 3px;
  }
}

.frame-layout-logoleiste {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -2rem;
  position: relative;
  z-index: 99;
  .frame-container {
    @include shadow;
    border-radius: 2px;
    background: white;
    border: 1px solid $border-color;
    @extend .container-fluid;
    max-width: 90vw;
    .gallery-item-size-6 {
      display: flex;
      align-items: center;
      width: calc(100% / 7) !important;
    }
    .image {
      margin-bottom: 0;
    }
    .frame-inner .gallery-row {
      margin-bottom: 0 !important;
    }
  }
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
}

.form-control {
  padding: 0 0.75rem;
  line-height: 50px;
  height: auto;
  border-radius: 3px;
}

.form-element-statictext-1 {
  margin-bottom: 0;
  margin-top: 2rem;
}

.base-menu {
  margin-bottom: 0;
  margin-right: 2rem;
  padding-right: 1rem;
  border-right: 1px solid $border-color;
  list-style: none;
  display: flex;
  li {
    padding: 0 1rem;
    margin-bottom: 0;
    a {
      color: #999 !important;
      &:hover {
        color: $primary;
      }
    }
  }
}
.frame-layout-grey-box {
  .frame-inner {
    background: $light;
    padding: 1.5rem;
  }
  h3 {
    font-weight: 700;
  }
  h4 {
    font-size: 1.1rem;
  }
}
.frame-layout-dates {
  .card-body {
    padding: 1rem 1rem 1rem 1rem;
  }
  .card-footer {
    padding: 0rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 700;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

.header {
  border-bottom: 1px solid $border-color;
  .textpic-text {
    padding: 10vw;
  }
}

.frame-small-top-spacing {
  padding-top: 3rem !important;
}
.frame-small-bottom-spacing {
  padding-bottom: 3rem !important;
}
.frame-zero-top-spacing {
  padding-top: 0rem !important;
}
.frame-zero-bottom-spacing {
  padding-bottom: 0rem !important;
}

.frame-layout-rainbow {
  .image {
    position: relative;
    &:before {
      content: url("../../../Public/Images/rainbow.svg");
      width: 80px;
      height: 80px;
      display: block;
      position: absolute;
      top: -1rem;
      right: 0rem;
      background: white;
      border-radius: 50%;
      box-shadow: 0px 10px 20px -10px black;
    }
  }
}

.frame-layout-border .image {
  border: 1px solid $border-color;
  border-radius: 2px;
}

.media-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.media-list .media {
  width: 33%;
  padding: 20px;
  margin-right: 3px;
  background: $light;
  display: block;
  margin-bottom: 5px;
  img {
    max-width: 100%;
    height: auto;
    border: 1px solid $border-color;
    margin-bottom: 1rem;
  }
}

.media-list .media + .media {
  margin-top: 0;
}

.gridelement .frame {
  @include media-breakpoint-up(md) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.form-container {
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  padding: 40px;
  background: $light;
}
.frame-background-light .form-container {
  background: white;
}
.form-check-list {
  @include media-breakpoint-down(sm) {
    display: block;
    .custom-radio {
      margin-bottom: 1rem;
    }
  }
  display: flex;
  .custom-checkbox {
    padding: 1rem 1rem 1rem 2.5rem;
    background: white;
    margin-right: 1rem;
  }
}

.custom-radio {
  padding: 0.6rem 1rem 0.6rem 2.5rem;
  border: 1px solid $border-color;
  margin-right: 1rem;
  background: white;
}

.link-file {
  &:after {
    content: "";
  }
  &:before {
    content: url("../../../Public/Images/pdf.svg");
    position: relative;
    top: 3px;

    margin-right: 10px;
  }
}

.frame-formcontact-box {
  margin-top: 2rem;
  border-radius: 3px;
  padding: 20px;
  background: $secondary;
  h3,
  p,
  a {
    color: white !important;
  }
  h3 {
    margin-bottom: 1rem !important;
  }
  svg path {
    fill: white;
  }
}
.form-element-type-textarea textarea {
  min-height: 192px !important;
}

.sociallinks-link-label {
  margin: 0;
  text-indent: -9999px !important;
  display: block;
}

.sociallinks-link-icon {
  margin-top: 30px;
}

fieldset {
  margin-top: 1rem;
  background: darken($light, 10%);
  padding: 1rem 1rem 0 1rem;

  legend {
    display: none;
  }
  .form-fieldset-inner {
    display: flex;
    flex-direction: row;
  }
}

.card-group-element-columns-3 .card-group-element-item {
  @include media-breakpoint-down(lg) {
    width: calc(100% / 2);
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

#page-header:not(.navbar-transition) .navbar-brand {
  @include media-breakpoint-up(lg) {
    height: 90px !important;
  }
  @include media-breakpoint-up(xxl) {
    height: 130px !important;
  }
}

.body-bg {
  @include media-breakpoint-up(lg) {
    padding-top: 70px !important;
  }
  @include media-breakpoint-up(xxl) {
    padding-top: 130px !important;
  }
}

.table {
  background: white;
  border: 1px solid $border-color;
  margin-bottom: 0 !important;
}

.frame-layout-clicino {
  * {
    text-align: center;
  }
  img {
    padding: 40px;
  }
  h2 {
    font-weight: 400 !important;
    font-size: 1.3rem !important;
  }
  h3 {
    color: $primary;
    font-weight: 700 !important;
    font-size: 2rem;
    margin-bottom: 0px !important;
  }
  p {
    color: lighten($dark, 50%);
    font-size: 14px;
  }
}

.news-list-view {
  .article {
    @include media-breakpoint-down(md) {
      width: 49%;
    }
  }
}

.news-list-view {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .article {
    position: relative;
    width: 31%;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      width: 100%;

      margin-right: 0 !important;
    }
    @include media-breakpoint-up(md) {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    background: $light;
    border: 1px solid $border-color;
    .text-wrapper {
      padding: 20px;
    }
    .news-list-date {
      opacity: 0.6;
      font-size: 14px;
      display: block;
      margin-bottom: 0.3rem;
    }
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
    h3 {
      margin-bottom: 0.3rem;
      a {
        color: $dark !important;
      }
    }
    .header {
      margin-bottom: 1rem;
      border: none;
    }
    .tease {
      margin-bottom: 1rem;
    }
  }
  .article.topnews {
    border: 3px solid $primary;
    h3 {
      a {
        color: $primary !important;
      }
    }
    &:before {
      content: "Empfehlung";
      background: $primary;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      font-weight: bold;
    }
  }
}
.col-lg-6 .article {
  width: 100%;
}
.frame-background-light .news-list-view .article {
  background: white;
}

.news-single {
  .teaser-text {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .news-img-wrap {
    @include media-breakpoint-down(md) {
      margin-top: 3rem;
    }
    .mediaelement {
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.frame-layout-referenten {
  h4 {
    font-size: 18px !important;
  }
  .card-footer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    p {
      margin-bottom: 0 !important;
    }
  }
}

#p118 .gridelement .frame-type-quote,
.frame-testimonial-g,
.frame-testimonial-F {
  blockquote p:first-child {
    font-family: "Catamaran" !important;
    font-size: 16px !important;
    font-weight: 400;
    color: $dark;
  }
  .frame-container {
    padding: 2rem !important;
  }
  border: 1px solid $border-color;
  margin: 0 0 2rem 0;
  position: relative;
  border-radius: 5px;
}

.frame-testimonial-g:after {
  content: url("../../../Public/Images/g.svg");
  width: 30px;
  height: 32px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.frame-testimonial-F:after {
  content: url("../../../Public/Images/f.svg");
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.gridelement {
  max-width: $container-max-width;
  margin: 0 auto;
}

.news .article .news-img-wrap,
.news .article .news-img-wrap img,
.news .article .news-img-wrap a {
  float: none !important;
  width: 100% !important;
  margin: 0;
  border: 0;
  padding: 0;
}

.news-list-view {
  .footer {
    display: none;
  }
}

.news-single .teaser-text {
  font-size: 1.3rem !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  color: #2b2b2b !important;
}

#p120 .referenzen {
  @include media-breakpoint-down(md) {
    background: $light;
    margin-top: 4rem;
  }
  @include media-breakpoint-up(md) {
    margin-top: -6rem;
    display: flex;
    align-items: center;
  }
  .frame {
    .frame-inner {
      @include media-breakpoint-up(md) {
        background: white;
        box-shadow: 0px 10px 40px -20px #3333332e;
      }
      border-radius: 130px;

      //padding: 40px;
    }
    padding: 0 !important;
    margin: 0 !important;
    .image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .textpic {
    padding: 40px 80px 40px 40px;
    @include media-breakpoint-down(md) {
      justify-content: center;
      p {
        text-align: center;
      }
    }
    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
    p:first-child {
      font-style: italic;
    }
  }
  .gallery-item,
  .textpic-item {
    width: auto;
  }
}

/////SHOPVIEWS

@import "clickershop";
@import "Shopviews/general";
@import "Shopviews/topbar";
@import "Shopviews/productgrid";
@import "Shopviews/producttile";
@import "Shopviews/catalogfilter";
@import "Shopviews/detail";
@import "Shopviews/cartstandard";
@import "Shopviews/checkout";
@import "Shopviews/favitems";
@import "Shopviews/userarea";
@import "Shopviews/loginbehave";
